.input {
    padding: 9px 15px;
    outline: none;
    border: 1px solid #434343;
    border-radius: 4px;
    width: 100%;
    transition: border-color .35s ease-in-out;
    font-size: 14px;
    box-sizing: border-box;


    &:focus {
        border-color: #0976c4;
    }

}
