.signup-view {
  width: 320px;
  height: 500px;
  border: 1px solid grey;
  margin: 10px;
  display: inline-block;
  vertical-align: top;

  .signup-view__name,
  .signup-view__pwd,
  .signup-view__pwd-repeat,
  .signup-view__submit {
    margin: 20px;
  }
}