.login-view {
  width: 320px;
  height: 500px;
  border: 1px solid grey;
  margin: 10px;
  display: inline-block;
  vertical-align: top;

  .login-view__name, .login-view__pwd, .login-view__submit {
    margin: 20px;
  }

}